<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.google.browser.examples.twa_multi_domain">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name="com.google.androidbrowserhelper.trusted.LauncherActivity"
            android:label="@string/app_name">

            <meta-data android:name="android.support.customtabs.trusted.DOMAINS_TO_VALIDATE"
                android:value="@array/validation_domains" />

            <meta-data android:name="android.support.customtabs.trusted.DEFAULT_URL"
                android:value="@string/launch_url" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="https"
                    android:host="@string/host_name"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
